@font-face {
    font-family: 'Livvic';
    src: url('../../fonts/Livvic-Bold.woff2') format('woff2'),
        url('../../fonts/Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../../fonts/Livvic-SemiBold.woff2') format('woff2'),
        url('../../fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../../fonts/Livvic-MediumItalic.woff2') format('woff2'),
        url('../../fonts/Livvic-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

.hero__title {
    font-size: 10rem;
    line-height: 10rem;
    font-weight: bold;
    width: 54rem;
    // margin-right: 12.5rem;

    @include respond (tablets) {
        font-size: 6.4rem;
        line-height: 5.6rem;
        text-align: center;
        width: 34.5rem;
        margin-bottom: 2.4rem;
    }

    @include respond (phones) {
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 1.8rem;
        width: 21.1rem;
    }
}

.talent {
    color: #F67E7E;
}

.hero__text {
    @include font;
    display: block;
    width: 44.5rem;
    padding-top: 7.9rem;
    position: relative;

    &::before {
        content: '';
        width: 5rem;
        height: 4px;
        background-color: #79C8C7;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include respond (tablets) {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 0;
        width: 45.7rem;

        &::before {
            display: none;
        }
    }

    @include respond (phones) {
        width: 32.7rem;
    }
}

.manage__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: bold;
    width: 44.5rem;
    // margin-right: 22rem;
    position: relative;

    &::before {
        content: '';
        width: 5rem;
        height: 4px;
        background-color: #F67E7E;
        position: absolute;
        top: -5.3rem;
        left: 0;
    }

    @include respond (tablets) {
        font-size: 3.2rem;
        line-height: 3.2rem;
        margin-bottom: 6.4rem;

        &::before {
            top: -3.2rem;
        }
    }

    @include respond (phones) {
        width: 24rem;
        margin-bottom: 14.4rem;
    }
}

.manage__list-title {
    @include font;
    color: #F67E7E;
    margin-bottom: 1.6rem;
}

.manage__list-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 600;
}

.s__text {
    display: block;
    width: 350px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 2.4rem;

    @include respond (tablets) {
        width: 100%;
    }
}

.s__author {
    @include font;
    color: #79C8C7;
}

.s__job {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 3.2rem;
}

.stories__title {
    width: 932px;
    text-align: center;
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 9.2rem;

    @include respond (tablets) {
        width: 46rem;
        margin: 0 auto;
        font-size: 3.2em;
        line-height: 3.2rem;
        margin-bottom: 8.4rem;
    }

    @include respond (phones) {
        width: 32.7rem;
    }
}

.success {
    color: #79C8C7;
}

.cta__title {
    width: 50.4rem;
    margin-right: auto;
    font-size: 4.8rem;
    line-height: 4.8rem;
    color: rgba(1, 47, 52, 1);

    @include respond (tablets) {
        width: 33.6rem;
        font-size: 3.2em;
        line-height: 3.2rem;
    }

    @include respond (phones) {
        width: 20.5rem;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2.4rem;

    }
}

.copyright {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 600;
    opacity: 0.6;
}

.about__title {
    font-size: 6.4rem;
    line-height: 10rem;
    font-weight: bold;

    @include respond (tablets) {
        font-size: 6.4rem;
        line-height: 5.6rem;
        text-align: center;
        width: 34.5rem;
        margin-bottom: 2.4rem;
    }

    @include respond (phones) {
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 1.6rem;
    }
}

.about__text {
    @include font;
    display: block;
    width: 73rem;
    padding-top: 4rem;
    position: relative;

    &::before {
        content: '';
        width: 5rem;
        height: 4px;
        background-color: #F67E7E;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include respond (tablets) {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 0;
        width: 45.7rem;

        &::before {
            display: none;
        }
    }

    @include respond (phones) {
        width: 32.7rem;
    }
}

.directors__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin-bottom: 6.4rem;

    @include respond (tablets) {
        font-size: 3.2rem;
        line-height: 3.2rem;
        margin-bottom: 4.8rem;
    }
}

.d__text {
    width: 25.4rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;
    display: block;
    font-size: 1.5rem;
    line-height: 2.5rem;

    @include respond (tablets) {
        width: 100%;
    }
}

.clients__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin-bottom: 6.4rem;

    @include respond (tablets) {
        font-size: 3.2rem;
        line-height: 3.2rem;
        margin-bottom: 4.8rem;
    }

    @include respond (phones) {
        margin-bottom: 6.4rem;
    }
}

.contact__title {
    font-size: 6.4rem;
    line-height: 10rem;
    padding: 0;
    margin: 0;
    margin-bottom: 1.6rem;

    @include respond (tablets) {
        line-height: 5.6rem;
        margin-bottom: 2.4rem;
    }

    @include respond (phones) {
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 1.6rem;
    }
}

.contact__sub-title {
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: #F67E7E;
    padding: 0;
    margin: 0;
    margin-bottom: 5.4rem;

    @include respond (tablets) {
        margin-bottom: 4.6rem;
    }

    @include respond (phoes) {
        margin-bottom: 4.8rem;
    }
}