.about {
    background-image: url(../img/image7.png);
    background-repeat: no-repeat;
    background-position: right 0 bottom 0;
}

.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12rem;
    padding-bottom: 12rem;

    @include respond (tablets) {
        flex-direction: column;
        text-align: center;
        padding-top: 11.2rem;
        padding-bottom: 25.6rem;
    }
}