.about {
    background-image: url(../img/image7.png);
    background-repeat: no-repeat;
    background-position: right 0 bottom 0;
    
    @include respond (phones) {
        background-image: url(../img/image13.png);
    }
}

.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12rem;
    padding-bottom: 12rem;

    @include respond (tablets) {
        flex-direction: column;
        text-align: center;
        padding-top: 11.2rem;
        padding-bottom: 11.2rem;
    }

    @include respond (phones) {
        padding-top: 8rem;
        padding-bottom: 10.8rem;
    }
}