@mixin baElements ($w, $h) {
  content: "";
  display: inline-block;
  width: $w;
  height: $h;
}

@mixin baImages ($w, $h, $url) {
  @include baElements($w, $h);

  background-image: url($url);
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin respond ($breakpoint) {
  @if ($breakpoint==phones) {
    @media screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if ($breakpoint==tablets) {
    @media screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if ($breakpoint==mini-pc) {
    @media screen and (max-width: 75em) {
      @content;
    }
  }

  @if ($breakpoint==big-screens) {
    @media screen and (min-width: 120em) {
      @content;
    }
  }
}

@mixin reset-list {
  display: flex;
  list-style: none;
  text-decoration: none;
}

@mixin font {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: normal;
}