.clients {
    background-color: #012F34;
    background-image: url(../img/image9.png);
    background-repeat: no-repeat;
    background-position: top 0 left 0;
}

.clients__container {
    padding-top: 14rem;
    padding-bottom: 14rem;
    text-align: center;
}

.clients__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}