.clients {
    background-color: #012F34;
    background-image: url(../img/image9.png);
    background-repeat: no-repeat;
    background-position: top 0 left 0;

    @include respond (tablets) {
        background-image: url(../img/image10.png);
    }

    @include respond (phones) {
        background-image: url(../img/image15.png);
    }
}

.clients__container {
    padding-top: 14rem;
    padding-bottom: 14rem;
    text-align: center;

    @include respond (tablets) {
        padding: 10rem 1.5rem;
    }

    @include respond (phones) {
        padding: 8.8rem 1.5rem;
    }
}

.clients__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond (phones) {
        flex-direction: column;
    }
}

.verge {
    @include respond (tablets) {
        width: 10rem;
    }

    @include respond (phones) {
        width: 14.7rem;
        margin-bottom: 6.6rem;
    }
}

.jakarta {
    @include respond (tablets) {
        width: 11.4rem;
    }

    @include respond (phones) {
        width: 16.2rem;
        margin-bottom: 6.6rem;
    }
}

.guardian {
    @include respond (tablets) {
        width: 11.2rem;
        margin-bottom: 6.6rem;
    }

    @include respond (phones) {
        width: 16rem;
        margin-bottom: 6.6rem;
    }
}

.techradar {
    @include respond (tablets) {
        width: 10.3rem;
    }

    @include respond (phones) {
        width: 14.7rem;
        margin-bottom: 6.6rem;
    }
}

.gadgets {
    @include respond (tablets) {
        width: 6.1rem;
    }

    @include respond (phones) {
        width: 8.6rem;
        // margin-bottom: 6.6rem;
    }
}