.cta {
    background-color: #F67E7E;
    background-image: url(../img/image1.png);
    background-repeat: no-repeat;
    background-position: left 0 bottom 0;
}

.cta__container {
    display: flex;
    align-items: center;
    padding: 7.4rem 10.7rem;
}