.directors {
    background-color: #004047;
}

.directors__container {
    padding-top: 14rem;
    padding-bottom: 14rem;
    text-align: center;
}

.d__list-item {
    width: 35rem;
    margin-bottom: 7.6rem;
}

.item__box {
    width: 100%;
    background-color: #012F34;
    padding: 3.2rem 2.4rem 2.4rem;
}

.d__img {
    margin-bottom: 1.6rem;
}