.directors {
    background-color: #004047;
    background-image: url(../img/image11.png), url(../img/image4.png);
    background-repeat: no-repeat;
    background-position: top 0 left 0, bottom 0 right 0;

    @include respond (phones) {
        background-image: url(../img/image14.png), url(../img/image4.png);
    }
}

.directors__container {
    padding-top: 14rem;
    padding-bottom: 14rem;
    text-align: center;

    @include respond (phones) {
        padding-top: 8.8rem;
    }
}

.d__list-item {
    display: block;
    width: 35rem;
    margin-bottom: 7.6rem;
    position: relative;

    @include respond (tablets) {
        width: 28.1rem;

        &:nth-child(5),
        &:nth-child(6) {
            margin-bottom: 0;
        }
    }

    @include respond (phones) {
        width: 100%;
        height: 25rem;

        &:not(:last-child) {
            margin-bottom: 5.2rem;
        }
    }
}

.item__box,
.item__box2,
.item__box3,
.item__box4,
.item__box5,
.item__box6 {
    width: 100%;
    background-color: #012F34;
    padding: 3.2rem 2.4rem 2.4rem;

    &--active {
        display: none;
        transition: 0.3s;
    }
}

.d__img {
    margin-bottom: 1.6rem;
}

.box-info,
.box-info2,
.box-info3,
.box-info4,
.box-info5,
.box-info6 {
    display: none;
    width: 100%;
    background-color: #002529;
    padding: 5.9rem 2.4rem 6.3rem;
    text-align: center;
    position: absolute;
    top: 0;

    &--active {
        display: block;
        transition: 0.3s;
    }
}

.twitter {
    margin-right: 1.6rem;
}