footer {
    background-color: #002529;
}

.footer__container {
    display: flex;
    padding-top: 4.8rem;
    padding-bottom: 4.8em;
    flex-wrap: wrap;
}

.footer__logo {
    margin-bottom: 2.5rem;
}

.footer__nav-box {
    margin-right: 12.5rem;

    @include respond (tablets) {
        margin-right: 0;
    }
}

.footer__address {
    width: 16.6rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 600;
    opacity: 0.6;

    @include respond (tablets) {
        width: 50rem;
        margin-left: auto;
        text-align: right;
    }
}

.footer__sot-set-box {
    display: block;
    width: 25.5rem;
    margin-left: auto;

    @include respond (tablets) {
        display: flex;
        width: 100%;
        margin-left: 0;
        justify-content: space-between;
        padding-top: 3.2rem;
    }
}

.icon {
    fill: white;
}

.sot-set__link:hover .icon {
    fill: #F67E7E;
}