header {
    padding-top: 73px;

    @include respond (phones) {
        padding-top: 4.8rem;
    }
}

.header__container {
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    margin-right: 8rem;

    @include respond (tablets) {
        margin-right: 4.8rem;
    }
}