.nav__list {
    @include reset-list;
}

.manage__list {
    @include reset-list;
    flex-direction: column;
    width: 445px;

    @include respond (tablets) {
        margin-left: 9.4rem;
    }
}

.stories__list {
    @include reset-list;
    justify-content: space-between;

    @include respond (tablets) {
        flex-direction: column;

    }
}

.sot-set__list {
    @include reset-list;
    width: 10.4rem;
    margin-bottom: 5.1rem;
    margin-left: auto;
    justify-content: space-between;

    @include respond (tablets) {
        margin-left: 0;
        margin-bottom: 0;
    }
}

.directors__list {
    @include reset-list;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond (tablets) {
        width: 57.3rem;
        margin: 0 auto;
    }
}