.nav__list {
    @include reset-list;

    @include respond (phones) {
        flex-direction: column
    }
}

.footer-nav__list {
    @include reset-list;

    // @include respond (phones) {
    //     flex-direction: column
    // }
}

.manage__list {
    @include reset-list;
    flex-direction: column;
    width: 445px;

    @include respond (tablets) {
        margin-left: 9.4rem;
    }

    @include respond (phones) {
        width: 32.7rem;
        margin: 0 auto;
        // margin-left: 0;
    }
}

.stories__list {
    @include reset-list;
    justify-content: space-between;

    @include respond (tablets) {
        flex-direction: column;

    }
}

.sot-set__list {
    @include reset-list;
    width: 10.4rem;
    margin-bottom: 5.1rem;
    margin-left: auto;
    justify-content: space-between;

    @include respond (tablets) {
        margin-left: 0;
        margin-bottom: 0;
    }

    @include respond (phones) {
        margin: 0 auto;
        margin-bottom: 1.6rem;
    }
}

.directors__list {
    @include reset-list;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond (tablets) {
        width: 57.3rem;
        margin: 0 auto;
    }

    @include respond (phones) {
        flex-direction: column;
        width: 100%;
    }
}

.contact__list {
    @include reset-list;
    flex-direction: column;
    padding-left: 9.5rem;
}